.name {

    margin-top:5%;
    margin-left: 10%;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 0.4px;
    color: #4a4a4a;
    line-height: 15px;
    font-family: 'Muli', sans-serif;
    
}