
.pic{

    margin-top:5%;
    margin-left:30%;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: lavender;
    display: flex;
    align-items:center;
    justify-content:center;
    font-size: 14px;
    font-weight: 900;
    color: blue;
    font-family: 'Muli', sans-serif;
  
    opacity: 0.9;
  }